files:
    "/etc/cron.d/casemgr":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * * root source <(sed 's/^/export /' /opt/elasticbeanstalk/deployment/env) && php /var/app/current/bin/console app:delete-old-activity-feed-entries
            * * * * * root source <(sed 's/^/export /' /opt/elasticbeanstalk/deployment/env) && php /var/app/current/bin/console app:delete-old-shared-files
            * 1 * * * root source <(sed 's/^/export /' /opt/elasticbeanstalk/deployment/env) && php /var/app/current/bin/console dtc:queue:prune old --older=1d
