{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    <ul class="page-breadcrumb" style="margin-left: 0;">
        <li>
            <h3>
                <a href="index.html">Organization Name</a>
                <i class="fa fa-angle-right"></i>
            </h3>
        </li>
        <li>
            <h3>
                <a href="participant-dashboard.html">Participant Dashboard</a>
            </h3>
        </li>
    </ul>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4">
            <!-- widget 1 -->
            <div class="portlet light">
                <div class="portlet-body">
                    <div class="slimScrollDiv" style="position: relative; overflow: visible; width: auto; height: 145px;">
                        <div class="scroller" style="height: 145px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2" data-initialized="1">
                            <div class="col-sm-3">
                                <div class="item-head">
                                    <div class="item-details">
                                        <img class="item-pic rounded" src="/public/assets/layouts/layout2/img/avatar12.jpg">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 150px;">
                                    <div class="item-details">
                                        <a href="" class="item-name primary-link">Barb Nilsin</a>
                                        <span class="item-label __web-inspector-hide-shortcut__"></span>
                                        <span class="item-status __web-inspector-hide-shortcut__"> </span>
                                        <div class="item-body">Phone: 303-720-8569</div>
                                        <div class="item-body">Email: bob.nelson@company.com</div>
                                        <div class="item-body">Organization ID: 588410</div>
                                        <div class="item-body">System ID: 252410</div>&nbsp; &nbsp; &nbsp;


                                        <div class="row">
                                            <div class="btn-arrow-link pull-right">
                                                <a href="javascript:;">VIEW</a> |
                                                <a href="javascript:;">EDIT</a>
                                                <i class="icon-arrow-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- widget 1 -->
        </div>
        <div class="col-md-4">
            <!-- widget 2 -->
            <div class="portlet light ">
                <div class="portlet-body">
                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 145px;">
                        <div class="general-item-list">
                            <div class="item">
                                <div class="item-head"></div>
                                <div class="item-body">Program Start Date: 04/25/2017</div>
                                <div class="item-body">Program Status: Active</div>
                                <div class="item-body">Case Manager: Debbie Smith</div>&nbsp; &nbsp; &nbsp;
                                <div class="item-body"></div>
                                <div class="btn-arrow-link pull-right">
                                    <a href="javascript:;">VIEW</a> |
                                    <a href="javascript:;">EDIT</a>
                                    <i class="icon-arrow-right"></i>&nbsp; &nbsp;
                                    <a href="javascript:;">NEW <em class="fa fa-angle-down"></em></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- widget 2 -->
        </div>
        <div class="col-md-4">
            <!-- widget 3 -->
            <div class="portlet light ">
                <div class="portlet-title tabbable-line">
                    <div class="caption">
                        <i class="icon-globe font-dark hide"></i>
                        <span class="caption-subject font-dark bold uppercase">ASSESSMENTS AND OUTCOMES</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1_1">
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 350px;">
                                <div class="scroller" style="height: 350px; overflow: hidden; width: auto;" data-always-visible="1" data-rail-visible="0" data-initialized="1">
                                    <ul class="feeds">
                                        <li>
                                            <a href="javascript:;">
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col2">
                                                            <div class="desc">Form Name 1</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col2">
                                                    <div class="date"> 05/25/2017 </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col2">
                                                            <div class="desc">Form Name 2</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col2">
                                                    <div class="date"> 05/25/2017 </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col2">
                                                            <div class="desc">Form Name 3</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col2">
                                                    <div class="date"> 05/25/2017 </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col2">
                                                            <div class="desc">Form Name 4</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col2">
                                                    <div class="date"> 05/25/2017 </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col2">
                                                            <div class="desc">Form Name 5</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col2">
                                                    <div class="date"> 05/25/2017 </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col2">
                                                            <div class="desc">Form Name 6</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col2">
                                                    <div class="date"> 05/25/2017 </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col2">
                                                            <div class="desc">Form Name 7</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col2">
                                                    <div class="date"> 05/25/2017 </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col2">
                                                            <div class="desc">Form Name 8</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col2">
                                                    <div class="date"> 05/25/2017 </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col2">
                                                            <div class="desc">Form Name 9</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col2">
                                                    <div class="date"> 05/25/2017 </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col2">
                                                            <div class="desc">Form Name 10</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col2">
                                                    <div class="date"> 05/25/2017 </div>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:;">
                                                <div class="col1">
                                                    <div class="cont">
                                                        <div class="cont-col2">
                                                            <div class="desc">Form Name 11</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col2">
                                                    <div class="date"> 05/25/2017 </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- widget 3 -->
        </div>
    </div>
{% endblock %}
